<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>eZuite</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon notification-icon"
    aria-label="Example icon-button with notification icon"
  >
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>account_circle</mat-icon>
    <span>Enhanzer</span>
  </button>
</mat-toolbar>
